<div ng-hide="doneFlag">
	<div class="list card">

	  	<div class="item item-avatar">
	    	<img ng-src="{{currentCard.images.card_avatar.url}}">
	    	<h2>{{ currentCard.question.text }}</h2>
	    	<p>{{ currentCard.question.hint }}</p>
	  	</div>

	  
		<!-- <img class="full-image" ng-src="{{currentCard.images.card_avatar.url}}"> -->
		<div class="item item-text-wrap">
		    <ion-list>
			  	<ion-radio ng-model="$parent.answerChoice" ng-value="choice" ng-repeat="choice in currentCard.question.answer_choices as choice" ng-disabled="answerSelectedFlag">{{ choice.text }}</ion-radio>		  
			</ion-list>
		</div>

		<div class="item item-text-wrap" ng-show="answerSelectedFlag===false">
			<p class="text-center">कृपया एक उत्तर दें</p>
		</div>

		<div class="item item-text-wrap" ng-show="!answerSelectedFlag">
			<button class="button button-full button-positive" ng-click="answer()">
			  उत्तर!
			</button>
		</div>   

	</div>

	<right-answer selected-answer="selectedAnswer" answer="currentCard.question.correct_answer" ng-show="answerSelectedFlag && answerFlag"></right-answer>

	<wrong-answer selected-answer="selectedAnswer" answer="currentCard.question.correct_answer" ng-show="answerSelectedFlag && !answerFlag"></wrong-answer>

	<div class="item item-text-wrap" ng-show="answerSelectedFlag">
		<button class="button button-full button-positive" ng-click="nextQuestion()">
		  अगला प्रश्न
		</button>
	</div>
</div>

<div class="card" ng-show="doneFlag">
  <div class="item item-divider">
    अभी के लिए इतना ही!
  </div>
  <div class="item item-text-wrap text-center">    
	<br>
	कुछ समय बाद कोशिश करें!
	<br><br>
	<div class="item item-image">
	    <img ng-src="../img/done.gif" style="">
	</div>
	
  </div>  
</div>