<div class="card">

	<div class="item item-avatar">
    	<img ng-src="../img/right.png">
    	<h2>बहुत बढ़िया!   सही जवाब!</h2>    
    	<p>{{answer.text}}</p>	
  	</div>
  
  	<div class="item item-text-wrap">    	
    	<p>{{answer.description}}</p>
  	</div>

</div>