<div class="card">

	<div class="item item-avatar">
    	<img ng-src="../img/wrong.png">
    	<h2>गलत जवाब!</h2>
    	<p>{{selectedAnswer.text}}</p>
  	</div>
  
  	<div class="item item-text-wrap">
    	<h3 class="text-center">यह सही जवाब है</h3>
    	<p>{{answer.text}}</p>
    	<p>{{answer.description}}</p>
  	</div>

  	

</div>