<ion-view view-title="Quiz" hide-nav-bar="true" class="splash-page">
  <div class="bar bar-header bar-positive">
    <h1 class="title">प्रश्नोत्तरी खेल</h1>
  </div>
  <ion-content scroll="true" style="margin-top:10%;" class="padding"> 
      <div class="list" style="margin-top:10%;">
        <label class="item item-input item-floating-label">
          <span class="input-label">ईमेल</span>
          <input type="text" ng-model="form.email" placeholder="अपना ईमेल आईडी दर्ज करें">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">पासवर्ड</span>
          <input type="password" ng-model="form.password" placeholder="अपना पासवर्ड दर्ज करें">
        </label>
      </div>

      <br><br>
      
      <center>
        <div class="padding-left padding-right">
            <button class="button button-outline action-button" ng-class="{'button-calm': !form.authFlag, 'button-balanced': form.authFlag}" ng-click="auth(form.name, form.phone, form.authFlag)">
              {{ form.authFlag ? 'GO!' : 'GO!' }}
            </button>
        </div>  
      </center>

      <br><br>

      <div ng-show="form.errorFlag">
        <div class="card">
          <div class="item item-text-wrap" ng-repeat="e in form.errors">
            {{e}}
          </div>
        </div>
        <br><br>
      </div>            

      <div class="padding signup-opt" >
        <button class="button button-block action-button" ng-class="{'button-calm': !form.authFlag, 'button-balanced': form.authFlag}" ng-click="form.authFlag = !form.authFlag">
        {{ form.authFlag ? 'खाता होना? साइन इन करें!' : 'एक खाता चाहिए? रजिस्टर!' }}
        </button>
      </div>

   </div>

  </ion-content>
</ion-view>