<ion-view view-title="प्रश्नोत्तरी">
  <ion-content>  
  	<div ng-show="loadingFlag" id="loading" class="text-center">
  		<div class="item item-image">
  			<img ng-src="../img/loading.gif">  			
  		</div>  		
  		<br><br>
  		लोडिंग...
  	</div>
  	<div id="cardsDiv"></div>	  
	<!-- <quiz-card all-cards='quizCards' current-card='currentQuizCard' type='quiz'></quiz-card> -->    
  </ion-content>
</ion-view>
